[delta]
source  = github
name    = dandavison/delta
version = 0.17.0

[direnv]
source  = github
name    = direnv/direnv
version = 2.34.0

[docker-credential-helpers]
source  = github
name    = docker/docker-credential-helpers
version = 0.8.1

[gopass]
source  = github
name    = gopasspw/gopass
version = 1.15.12

[gopass-jsonapi]
source  = github
name    = gopasspw/gopass-jsonapi
version = 1.15.11

[hadolint]
source  = github
name    = hadolint/hadolint
version = 2.12.0

[kubectl]
source  = misc
version = 1.26.1

[lazygit]
source  = github
name    = jesseduffield/lazygit
version = 0.40.1

[lazydocker]
source  = github
name    = jesseduffield/lazydocker
version = 0.23.1

[micro]
source  = github
name    = zyedidia/micro
version = 2.0.13

[minikube]
source  = github
name    = kubernetes/minikube
version = 1.32.0

[neovim]
source  = github
name    = neovim/neovim
version = 0.9.5

[pet]
source  = github
name    = knqyf263/pet
version = 0.7.0

[restic]
source  = github
name    = restic/restic
version = 0.16.4

[task]
source  = github
name    = go-task/task
version = 3.35.1

[taskwarrior]
source  = github
name    = GothenburgBitFactory/taskwarrior
version = 2.6.2
