[delta]
source  = github
name    = dandavison/delta
version = 0.17.0

[direnv]
source  = github
name    = direnv/direnv
version = 2.34.0

[dive]
source  = github
name    = wagoodman/dive
version = 0.12.0

[docker-credential-helpers]
source  = github
name    = docker/docker-credential-helpers
version = 0.8.2

[gopass]
source  = github
name    = gopasspw/gopass
version = 1.15.13

[gopass-jsonapi]
source  = github
name    = gopasspw/gopass-jsonapi
version = 1.15.13

[hadolint]
source  = github
name    = hadolint/hadolint
version = 2.12.0

[keepassxc]
source  = github
name    = keepassxreboot/keepassxc
version = 2.7.9

[kubectl]
source  = misc
version = 1.26.1

[lazygit]
source  = github
name    = jesseduffield/lazygit
version = 0.43.1

[lazydocker]
source  = github
name    = jesseduffield/lazydocker
version = 0.23.3

[micro]
source  = github
name    = zyedidia/micro
version = 2.0.13

[minikube]
source  = github
name    = kubernetes/minikube
version = 1.33.1

[neovim]
source  = github
name    = neovim/neovim
version = 0.10.0

[pet]
source  = github
name    = knqyf263/pet
version = 0.8.4

[restic]
source  = github
name    = restic/restic
version = 0.16.5

[sqlitebrowser]
source  = github
name    = sqlitebrowser/sqlitebrowser
version = 3.12.2

[task]
source  = github
name    = go-task/task
version = 3.38.0

[taskwarrior]
source  = github
name    = GothenburgBitFactory/taskwarrior
version = 3.0.2
