[delta]
source  = github
name    = dandavison/delta
version = 0.15.1

[gopass]
source  = github
name    = gopasspw/gopass
version = 1.15.1

[gopass-jsonapi]
source  = github
name    = gopasspw/gopass-jsonapi
version = 1.15.1

[hadolint]
source  = github
name    = hadolint/hadolint
version = 2.12.0

[micro]
source  = github
name    = zyedidia/micro
version = 2.0.11

[superpet]
source  = github
name    = RamiAwar/superpet
version = 0.7.0

[restic]
source  = github
name    = restic/restic
version = 0.14.0

[task]
source  = github
name    = go-task/task
version = 3.19.0

[taskwarrior]
source  = github
name    = GothenburgBitFactory/taskwarrior
version = 2.6.2

